
# Ignore the virtual environment
myenv/

# Ignore the environment variables
.env

# Ignore the IDS alert log file
ids_alert.log

# Ignore MockDetectionEngine for mock data
MockDetection_Engine.py

#Ignore the Main1 test file for mock data
main1.py

#Ignore Model training code
train_model.py

#Ignore Kera model
my_model.keras